# Initial Explore of Denali Project

In [2]:
# Import for Data Manipulation
import pandas as pd
# Change pandas display setting to see more of dataframe
pd.options.display.max_colwidth = None

In [3]:
# Read in excel file
summits = pd.read_excel('mountaineering-summaries-1903-2021-summits-by-route.xlsx')
summits_totals = summits.tail(9)
summits = summits[:-9]

In [4]:
# First five rows
# summits.head()

In [5]:
# Last 20 rows of dataframe
# summits.tail(20)

In [6]:
# Count of Years with summits greater than zeor
summits[summits.Summits > 0]

     Year  Climbers  Summits  Success Rate
10   1913       4.0      4.0      1.000000
29   1932       9.0      4.0      0.444444
39   1942       8.0      7.0      0.875000
44   1947      14.0     10.0      0.714286
45   1948       3.0      3.0      1.000000
..    ...       ...      ...           ...
111  2014    1204.0    429.0      0.356312
112  2015    1090.0    628.0      0.576147
113  2016    1126.0    675.0      0.599467
114  2017    1189.0    498.0      0.418839
115  2018    1114.0    496.0      0.445242

[70 rows x 4 columns]

In [7]:
# Years with over 50 % success rate
# summits[summits['Success Rate'] > .5]

In [8]:
# Year with most climbers
# summits[summits.Climbers == summits.Climbers.max()]

- 2005 had 1340 Climbers with 775 Summits at a 57.8358 % success rate